<template>
  <div class="item">
    <div class="itemsDetails">
      <img :src="item.imageUrl" :alt="item.title">
      <h4>{{ item.title }}</h4>
      <p>{{ item.description }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['item'],
    name: 'item'
  }
</script>

<style scoped>
  .item {
    background: #F5F5F5;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    cursor: pointer;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transition: all 100ms ease-in-out;
  }
  .item:hover {
    transform: translateY(-0.5em);
    background: #EBEBEB;
  }
  img {
    display: block;
    width: 100%;
  }
</style>
