<template>
  <div class="home-container">
    <SearchBar v-on:SearchRequested="handleSearch"></SearchBar>
    <div>
      <div class="scrolling-wrapper-flexbox">
        <Movie v-for="movie in movies"
               :key="movie.imdbID"
               :movie="movie"
               :is-preview="true"
               v-on:addMovieToList="addMovieToList">
        </Movie>

        <div v-bind="movies" v-if="movies === undefined || movies.length === 0">
          <Movie v-on:addMovieToList="addMovieToList" :query="query" :movie="undefined" :is-preview="true"></Movie>
        </div>

      </div>
    </div>

    <MoviesList v-on:removeMovieFromList="removeMovieFromList"
                :movies="allMovies"
                :list-title="MovieList.name"/>

    <div v-if="allMovies.length === 0">
      <p style="color: white">List is empty.</p>
    </div>

  </div>
</template>

<script>
    import SearchBar from './SearchBar'
    import Movie from './Movie'
    import MoviesList from './MoviesList'
    import {
      ADD_MOVIE_TO_LIST_MUTATION,
      DELETE_MOVIE,
      GET_MOVIE_LIST,
      GET_MOVIE_LIST_NAME, GET_USER,
      SUB_FOR_NEW_MOVIES
    } from '../graphql/graphql'

    export default {
      name: 'ItemsContainer',
      components: { // Components that can be used in the template
        SearchBar, Movie, MoviesList
      },
      props: { // parameters the component accepts
        message: String,
        product: Object,
        email: {
          type: String,
          // required: true,
          default: 'none',
          validator: function (value) {
            return true
            // should return true if value is valid
          }
        }
      },
      data () {
        return {
          query: '',
          listId: '',
          movies: [],
          allMovies: [],
          MovieList: {}
        }
      },
      beforeCreate () {
        if (this.$root.$data.selectedList === null) {
          if (this.$root.$data.userId === null) {
            this.$router.push({path: '/login'})
          } else {
            this.$router.push({path: '/lists'})
          }
        }
      },
      created () {
        fetch('https://www.omdbapi.com/?apikey=aa56b9b3&page=1&s=Fast')
          .then((res) => { return res.json() })
          .then((res) => {
            this.movies = res.Search
          })
      },
      computed: { // Return cached values until dependencies change
        fullName: function () {
          return this.firstName + ' ' + this.lastName
        }
      },
      watch: { // Called when firstName changes value
        firstName: function (value, oldValue) {

        }
      },
      methods: {
        handleSearch (query) {
          this.$data.query = query
          if (query === undefined || query.length === 0 || query === '') {
            fetch('https://www.omdbapi.com/?apikey=aa56b9b3&page=1&s=Fast')
              .then((res) => { return res.json() })
              .then((res) => {
                this.movies = res.Search
              })
          } else {
            fetch('https://www.omdbapi.com/?apikey=aa56b9b3&page=1&s=' + query)
              .then((res) => {
                return res.json()
              })
              .then((res) => {
                if (res !== undefined && res.length !== 0) {
                  this.movies = res.Search
                }
              })
          }
        },
        addMovieToList (movie) {
          this.$apollo.mutate({
            mutation: ADD_MOVIE_TO_LIST_MUTATION,
            variables: {
              title: movie ? movie.Title : this.query,
              userId: this.$root.$data.userId,
              movieListId: this.$root.$data.selectedList,
              movieId: movie ? movie.imdbID : ''
            }
          }).then((result) => {
            this.allMovies = [ result.data.createMovie, ...this.allMovies ]
          }).catch((error) => {
            alert(error)
          })
        },
        removeMovieFromList (movie) {
          this.$apollo.mutate({
            mutation: DELETE_MOVIE,
            variables: {
              id: movie.id
            }
          }).then((result) => {
            const index = this.allMovies.findIndex(obj => obj.id === movie.id)
            this.allMovies = [
              ...this.allMovies.slice(0, index),
              ...this.allMovies.slice(index + 1)
            ]
          }).catch((error) => {
            alert(error)
          })
        }
      },
      apollo: {
        allMovies: {
          query: GET_MOVIE_LIST,
          variables () {
            return {
              movieId: this.$root.$data.selectedList
            }
          },
          subscribeToMore: {
            document: SUB_FOR_NEW_MOVIES,
            // Variables passed to the subscription. Since we're using a function,
            // they are reactive
            variables () {
              return {
                movieListId: this.$root.$data.selectedList
              }
            },
            // Mutate the previous result
            updateQuery: (previousResult, { subscriptionData }) => {
              // Here, return the new result from the previous with the new data
              if (!subscriptionData.data.Movie) return

              let newMovieList
              if (subscriptionData.data.Movie.mutation === 'CREATED') {
                newMovieList = [
                  subscriptionData.data.Movie.node,
                  ...previousResult.allMovies
                ]
              } else if (subscriptionData.data.Movie.mutation === 'DELETED') {
                const index = previousResult.allMovies.findIndex(obj => obj.id === subscriptionData.data.Movie.previousValues.id)
                newMovieList = [
                  ...previousResult.allMovies.slice(0, index),
                  ...previousResult.allMovies.slice(index + 1)
                ]
              }
              const result = {
                allMovies: newMovieList
              }
              return result
            }
          }
        },
        MovieList: {
          query: GET_MOVIE_LIST_NAME,
          variables () {
            return {
              movieId: this.$root.$data.selectedList
            }
          }
        },
        User: {
          query: GET_USER,
          variables () {
            const userId = this.$root.$data.userId
            return {
              userId
            }
          }
        }
      }
    }
</script>

<style lang="scss" scoped>

  @import "../assets/variables.scss";

  .home-container {
    background: $bring-medium-blue-grey;
    height: calc(100vh - 56px)
  }

  .scrolling-wrapper-flexbox {
    background: $bring-medium-black-grey;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  ::-webkit-scrollbar {
     display: none;
   }


</style>

