<template>
  <div class="lists-container fullscreen">
    <List class="list"
           v-for="(list, index) in User.movieLists"
           :key="list.id"
           :list="list"
           v-on:selectList="selectList(list)"
           v-on:removeList="removeList(index)"
           v-on:showMembers="showMembers(list)"
    >
    </List>
    <div class="add flex-container" @click="addList">
      <img src="../assets/add.png" alt="add list">
      <p>New List</p>
    </div>
  </div>
</template>

<script>
  import List from './List'
  import {GET_USER, SELECTED_LIST_ID, SUB_MOVIE_LIST} from '../graphql/graphql'

  export default {
    name: 'ListsContainer',
    components: {
      List
    },
    watch: {
      movieLists: function (value, oldValue) {
      }
    },
    created () {
      this.$apollo.queries.User.refetch()
    },
    mounted () {
      if (this.User.movieLists === undefined) {
        this.$apollo.queries.User.refetch()
      }
    },
    methods: {
      removeList (index) {

      },
      addList () {
        this.$root.$data.isAddMember = false
        this.$root.$data.selectedList = undefined
        this.$router.push({path: '/list-detail'})
      },
      selectList (list) {
        this.$root.$data.selectedList = list.id
        localStorage.setItem(SELECTED_LIST_ID, list.id)
        this.$router.push({path: '/'})
      },
      showMembers (list) {
        this.$root.$data.isAddMember = true
        this.$root.$data.selectedList = list
        this.$router.push({path: '/list-detail'})
      }
    },
    data () {
      return {
        User: {}
      }
    },
    apollo: {
      User: {
        query: GET_USER,
        variables () {
          const userId = this.$root.$data.userId
          return {
            userId
          }
        },
        subscribeToMore: {
          document: SUB_MOVIE_LIST,
          // Variables passed to the subscription. Since we're using a function,
          // they are reactive
          variables () {
            const userId = this.$root.$data.userId
            return {
              userId
            }
          },
          // Mutate the previous result
          updateQuery: (previousResult, { subscriptionData }) => {
            // Here, return the new result from the previous with the new data

            if (!subscriptionData.data.MovieList) return

            let newMovieLists
            if (subscriptionData.data.MovieList.mutation !== 'DELETED') {
              newMovieLists = [
                ...previousResult.User.movieLists,
                subscriptionData.data.MovieList.node

              ]
            } else {
              const index = previousResult.User.movieLists.findIndex(obj => obj.id === subscriptionData.data.MovieList.previousValues.id)
              newMovieLists = [
                ...previousResult.User.movieLists.slice(0, index),
                ...previousResult.User.movieLists.slice(index + 1)
              ]
            }
            const result = {
              User: {
                ...previousResult.User,
                movieLists: newMovieLists
              }
            }
            return result
          }
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../assets/variables.scss";

  .lists-container {
    background: $bring-dark-grey;
    height: calc(100vh - 56px);
    overflow: auto;
  }

  .list {
    color: white;
    background: $bring-dark-grey;
    padding-top: 10px;
  }

  .add {
    padding-top: 20px;
    padding-bottom: 20px;
    img {
      width: 2em;
      transform: rotate(45deg);
    }
    p {
      color: white;
      font-size: 20px;
      margin: 0;
      padding-left: 10px;
    }
  }

</style>
