<template>
  <div class="listdetail-container">
    <div class="title">
      <input type="text" placeholder="Enter List Title" v-model="currentList.name" autofocus :disabled="this.$root.$data.isAddMember"/>
    </div>
    <div class="users-container">
      <div class="users" v-for="(user, index) in currentList.users"
            :key="user.userId">
        <div class="user">
          <p>{{ user.name }}</p>
          <p class="email">{{ user.email }}</p>
        </div>
      </div>
      <div v-if="this.$root.$data.isAddMember" class="add-user">
        <input type="text" placeholder="email of recipient" v-model="email"/>
      </div>
      <div class="buttons-container">
        <button class="turkey" v-if="this.$root.$data.isAddMember" type="button" @click="addMemberToList">ADD MEMBER TO LIST</button>
        <button class="turkey" v-else-if="!this.$root.$data.isAddMember" type="button" @click="createList">CREATE LIST</button>
        <button class="red" v-if="this.$root.$data.isAddMember" type="button" @click="deleteList">DELETE LIST</button>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    ADD_USER_TO_MOVIELIST_MUTATION,
    CREATE_MOVIELIST_MUTATION,
    DELETE_MOVIE_LIST,
    GET_USER_FROM_MAIL
  } from '../graphql/graphql'

  export default {
    name: 'ListDetail',
    props: {
      members: Array
    },
    data () {
      return {
        email: '',
        currentList: {}
      }
    },
    methods: {
      removeUser () {

      },
      addMemberToList () {
        this.$apollo.query({
          query: GET_USER_FROM_MAIL,
          variables: {
            email: this.email
          }
        }).then((result) => {
          if (result.data.User !== null) {
            this.$apollo.mutate({
              mutation: ADD_USER_TO_MOVIELIST_MUTATION,
              variables: {
                userId: result.data.User.id,
                movieListId: this.currentList.id
              }
            }).then((resultAddToList) => {
              this.currentList = {
                ...this.currentList,
                users: [ ...this.currentList.users, {email: resultAddToList.data.addToUserLists.usersUser.email} ]
              }
              this.email = ''
            }).catch((error) => {
              alert(error)
            })
          } else {
            alert('There is no User in the db with this name')
          }
        }).catch((error) => {
          alert(error)
        })
      },
      createList () {
        this.$apollo.mutate({
          mutation: CREATE_MOVIELIST_MUTATION,
          variables: {
            name: this.currentList.name,
            userId: this.$root.$data.userId
          }
        }).then((result) => {
          this.$root.$data.isAddMember = true
          this.$root.$data.selectedList = result.data.createMovieList
          this.currentList = result.data.createMovieList
        }).catch((error) => {
          alert(error)
        })
      },
      deleteList () {
        this.$apollo.mutate({
          mutation: DELETE_MOVIE_LIST,
          variables: {
            id: this.currentList.id
          }
        }).then((result) => {
          this.$router.push({path: '/lists'})
        }).catch((error) => {
          alert(error)
        })
      }
    },
    beforeMount () {
      if (this.$root.$data.selectedList !== undefined) {
        this.currentList = this.$root.$data.selectedList
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../assets/variables.scss";

  *:focus {
    outline: none;
  }

  .listdetail-container {
    background: $bring-medium-black-grey;
    height: 100vh;
  }

  .title {
    display: flex;
    color: white;
    font-size: 20px;
    background: $bring-medium-blue-grey;

    input {
      width: 100%;
      max-width: 100%;
      margin: 10px;
      color: white;
      background: $bring-dark-grey;
      padding: 10px;
      border-radius: 5px;
      border: none;
    }
  }

  .buttons-container {
    margin: 10px;
  }

  .users-container {
    background: $bring-medium-black-grey;

    button {
      padding: 10px;
      width: 100%;
      color: white;
      font-weight: bold;
      border: none;
      outline: none;
      border-radius: 5px;
      box-shadow: $bring-light-grey;
    }
  }

  .turkey {
    background: $bring-turkey;
  }

  .red {
    background: $bring-red;
    margin-top: 10px;
  }

  .users {
    padding-top: 5px;
    color: white;
    background: $bring-medium-black-grey;
  }

  .user {
    margin: 10px 10px 0px;
    background: $bring-dark-grey;
    border-radius: 5px;
    padding-top: 5px;
    p {
      text-align: left;
      margin: 0px 10px 0;
    }
    .email {
      color: $bring-medium-blue-grey;
    }
  }

  .add-user {
    margin: 10px;

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1; /* Firefox */
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: white;
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: white;
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    input {
      border-radius: 5px;
      background: $bring-medium-black-grey;

      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      display: block;
      width: 100%;
      padding: 12px;
      border: none;
      border-bottom: 1px solid #ddd;
      background: transparent;
      font: 16px Arial, Helvetica, sans-serif;
      height: 45px;

      cursor: pointer;
      color: white;
    }
  }

</style>
