<template>
  <div>
    <div class="list-item flex-container">
      <div class="list-description" v-on:click="$emit('selectList', list)">
        <div class="item-name">
          <p>{{currentList.name}}</p>
        </div>
        <div class="counter-container">
          <div class="movies-counter">
            <p>{{currentList.movies.length}} movies</p>
          </div>
        </div>
      </div>
      <div class="member" @click="$emit('showMembers')">
      <p>{{currentList.users.length}} members</p>
    </div>
    </div>
  </div>
</template>

<script>
    export default {
      name: 'List',
      props: ['list'],
      data () {
        return {
          currentList: {}
        }
      },
      beforeMount () {
        this.currentList = this.$props.list
      },
      methods: {
      }
    }
</script>

<style lang="scss" scoped>
  @import "../assets/variables.scss";

  .list-item {
    background: $bring-turkey;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    justify-content: space-between;

    p {
      margin: 5px;
    }
  }

  .item-name {
    font-size: 22px;
    p {
      text-align: left;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .counter-container {
    width: 100%;
    display: flex;
  }

  .movies-counter {
    background: $bring-medium-black-grey;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    p {
      margin: 0 5px;
    }
  }

  .member {
    display: flex;
    justify-content: flex-end;
    flex-basis: 40%;
    align-self: flex-end;
    margin-left: 5px;
    margin-bottom: 5px;
    :hover {
      cursor: pointer;
    }
    p {
      padding-left: 5px;
      padding-right: 5px;
      margin: 0 5px;
      background-color: $bring-red;
      border-radius: 5px;
      word-break: break-word;
    }
  }

  .list-description {
    flex-basis: 60%;
  }

</style>
