<template xmlns="http://www.w3.org/1999/html">
  <div class="flex-container login-wrapper">
    <form class="form-signin" @submit.prevent=" isLogin ? login() : signup() ">
      <h2 class="form-signin-heading">{{ isLogin ? 'Log In' : 'Sign Up' }}</h2>

      <div v-if="!isLogin">
        <label for="inputName" class="sr-only">Name</label>
        <input v-model="name" type="text" id="inputName" class="form-control" placeholder="Name" required><br/>
      </div>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input v-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required><br/>
      <label for="inputPassword" class="sr-only">Password</label>
      <input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required><br/>

      <div v-if="!isLogin">
        <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
        <input v-model="confirmPassword" type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required><br/>
      </div>

      <button class="btn btn-lg btn-block" type="submit">
        <div class="submit-button-style">
          <div v-if="isLoading" class="spinner-container">
            <rotate-square2 :size="'20px'" class="spinner"></rotate-square2>
          </div>
          <p v-if="isLogin">{{ isLoading ? 'logging in...' : 'log in' }}</p>
          <p v-else-if="!isLogin">{{ isLoading ? 'signing in...' : 'sign in' }}</p>
        </div>
      </button>

      <div v-if="isLogin" class="flex-container-horizontal">
        <p class="login-reference">Not registered yet? </p>
        <router-link v-bind:to="'signup'" @click.native="onHandleClick('LINK_SIGNUP')">Sign up</router-link>
      </div>

      <div v-else-if="!isLogin" class="flex-container-horizontal">
        <p class="login-reference">Already have an account? </p>
        <router-link v-bind:to="'login'" @click.native="onHandleClick('LINK_LOGIN')">Log in</router-link>
      </div>
    </form>
  </div>
</template>

<script>
  import {CREATE_USER_MUTATION, GC_AUTH_TOKEN, GC_USER_ID, SIGNIN_USER_MUTATION} from '../graphql/graphql'
  import {RotateSquare2} from 'vue-loading-spinner'
  export default {
    name: 'Login',
    props: { // parameters the component accepts
      /** message: String,
      product: Object,
      email: {
        type: String,
        required: true,
        default: 'none',
        validator: function (value) {
          // should return true if value is valid
        }
      } **/
    },
    components: {
      RotateSquare2
    },
    data: function () { // must be a function --> instead of data() also possible -->  data: function () { }
      return {
        name: '',
        email: '',
        password: '',
        confirmPassword: '',
        isLogin: true,
        isLoading: false
      }
    },
    computed: { // Return cached values until dependencies change
      fullName: function () {
        return this.firstName + ' ' + this.lastName
      }
    },
    watch: { // Called when firstName changes value
      firstName: function (value, oldValue) { }
    },
    created () {
      if (this.$router.currentRoute.path === '/login') {
        this.isLogin = true
      } else {
        this.isLogin = false
      }
    },
    methods: {
      login () {
        this.isLoading = true
        const { email, password } = this.$data
        this.$apollo.mutate({
          mutation: SIGNIN_USER_MUTATION,
          variables: {
            email,
            password
          }
        }).then((result) => {
          this.saveUserData(result.data.authenticateUser.id, result.data.authenticateUser.token)
        }).catch((error) => {
          this.isLoading = false
          alert(error)
        })
      },
      signup () {
        this.isLoading = true
        if (this.password === this.confirmPassword) {
          this.createUser()
        }
      },
      onHandleClick (type) {
        switch (type) {
          case 'LINK_SIGNUP':
            console.log('Link signup clicked')
            this.isLogin = false
            break
          case 'LINK_LOGIN':
            console.log('Link login clicked')
            this.isLogin = true
            break
          default:
        }
      },
      createUser () {
        const { email, password } = this.$data
        this.$apollo.mutate({
          mutation: CREATE_USER_MUTATION,
          variables: {
            email,
            password
          }
        }).then((result) => {
          this.saveUserData(result.data.authenticateUser.id, result.data.authenticateUser.token)
        }).catch((error) => {
          this.isLoading = false
          alert(error)
        })
      },
      saveUserData (id, token) {
        localStorage.setItem(GC_USER_ID, id)
        localStorage.setItem(GC_AUTH_TOKEN, token)
        this.$root.$data.userId = localStorage.getItem(GC_USER_ID)
        this.isLoading = false
        this.$router.push({path: '/'})
      }
    }
    // template: '<span>{{ message }}</span>' // Can also use backticks for multi-line
  }
</script>

<style lang="scss" scoped>

  @import "../assets/variables.scss";

  .submit-button-style {
    display: flex;
    position: relative;

    p {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  .spinner-container {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .spinner {
    align-self: center;
    &:after {
      background: $bring-red !important;
    }
  }

  p {
    margin-bottom: 0;
  }

  .login-wrapper {
    height: calc(100vh - 56px);
    padding: 0 30px 30px;
    background: $bring-medium-black-grey;
    color: $bring-light-grey;

    .form-signin {
      width: 100%;
    }

    input {
      padding: 15px;
    }

    button {
      background: $bring-turkey;
      color: white;
    }

    a {
      color: $bring-turkey;
    }
  }

  h2 {
    margin-bottom: 2rem;
  }

</style>
