<template>
  <div>
    <div class="movies">
      <p>{{listTitle}}</p>
      <Movie class="movie"
             v-for="(movie, index) in movies"
             :key="movie.id"
             :movie="movie"
             v-on:removeMovieFromList="removeMovieFromList(index)"
             :is-preview="false">
      </Movie>
    </div>
  </div>
</template>

<script>
  import Movie from './Movie'

  export default {
    name: 'MoviesList',
    components: { // Components that can be used in the template
      Movie
    },
    props: {
      listTitle: String,
      movies: Array
    },
    data () {
      return {
        moviesArr: this.movies
      }
    },
    watch: {
      moviesArr: function (value, oldValue) {
        console.log('moviesArr in MoviesList changed: ', value)
      }
    },
    methods: {
      removeMovieFromList (index) {
        this.$emit('removeMovieFromList', this.movies[index])
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../assets/variables.scss";

  .movies {
    text-align: center;
    justify-content: space-around;
    background: $bring-medium-blue-grey;
    align-content: space-evenly;
    padding: 10px;

    p {
      text-align: left;
      margin: 10px;
      font-size: 22px;
      color: white;
    }

  }

  .movie {
    flex: 0 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
  }

</style>
