<template>

  <div>
    <div v-if="isPreview" class="preview-movie-item" v-on:click="$emit('addMovieToList', movie)">
      <figure>
        <img v-if="movie !== undefined && movie.Poster !== undefined && movie.Poster !== 'N/A'" :src="movie.Poster" alt="">
        <img v-else :src="noImgAvailable">
        <figcaption>
          <p v-if="movie !== undefined && movie.Title !== undefined && movie.Title !== ''">{{movie.Title}}</p>
          <p v-else>{{query}}</p>
        </figcaption>
      </figure>
    </div>

    <div v-if="!isPreview" class="movie-item" v-on:click="$emit('removeMovieFromList', currentMovie)">
      <img v-if="currentMovie !== undefined && currentMovie.Poster !== undefined && currentMovie.Poster !== 'N/A'" :src="currentMovie.Poster" alt="">
      <img v-else :src="noImgAvailable">
      <div style="flex-direction: column; justify-content: center; align-items: center;">
        <p class="detail" v-if="!currentMovie.movieId">{{currentMovie.title}}</p>
        <p class="detail" v-if="currentMovie.movieId">{{currentMovie.title}}</p>
        <p class="detail" v-if="currentMovie.movieId">{{currentMovie.imdbRating}} / 10</p>
        <p class="detail" v-if="currentMovie.movieId">{{currentMovie.Director}}</p>
        <p class="detail" v-if="currentMovie.movieId">{{currentMovie.Runtime}}</p>
      </div>
    </div>
  </div>

</template>

<script>
  export default{
    props: ['query', 'movie', 'isPreview'],
    data () {
      return {
        currentMovie: {},
        noImgAvailable: require('../assets/no-img-portrait.png')
      }
    },
    created () {
      this.currentMovie = this.$props.movie
      if (this.$props.movie !== undefined && this.$props.movie.movieId !== undefined) {
        this.getMovieByImdbID(this.$props.movie.movieId)
      }
    },
    watch: {
    },
    methods: {
      getMovieByImdbID (imdbID) {
        fetch('https://www.omdbapi.com/?apikey=aa56b9b3&page=1&i=' + imdbID)
          .then((res) => {
            return res.json()
          })
          .then((res) => {
            if (res !== undefined) {
              this.$data.currentMovie = { ...this.currentMovie, ...res }
            }
          })
      }
    }
  }
</script>

<style lang="scss">
  @import "../assets/variables.scss";

  .preview-movie-item {
    background: $bring-red;
    height: calc(100% - 20px);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    img {
      object-fit: contain;
      height: 250px;
      border: none;
      display: block;
    }
  }

  .detail {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .movie-item {
    display: flex;
    align-items: left;
    height: 100px;
    background: $bring-turkey;
    border-radius: 5px;
    color: white;
    img {
      height: 100%;
      /*width: 70px;*/
    }
    div {
      width: calc(100% - 70px);
    }
  }

  figure {
    margin: 0;
    overflow: hidden;
  }

  figcaption {
    position: relative;
    padding-top: 20px;
  }

</style>
