<template>
  <div class="search">
    <input id="searchBar" type="text" name="haberSearch" placeholder="Enter Film Name" v-model="query" @keypress.enter="debounceInput">
  </div>
</template>

<script>
  import debounce from 'debounce'

  export default{
    data () {
      return {
        query: ''
      }
    },
    watch: { // Called when query changes value
      query: debounce(function (e) {
        this.handleSearch()
      }, 250)
    },
    methods: {
      handleSearch () {
        this.$emit('SearchRequested', this.query)
      },
      debounceInput: debounce(function (e) {
        this.handleSearch()
      }, 250)
    }
  }
</script>

<style lang="scss">
  *:focus {
    outline: none;
  }
  .search {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    input {
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      border: none;
    }
    button {
      padding: 10px;
      width: 100px;
      border: none;
    }
  }
</style>
