.fullscreen {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
