// bring!
$bring-dark-grey: #283036;
$bring-medium-black-grey: #323c41;
$bring-medium-blue-grey: #5c717c;
$bring-light-grey: #788e99;
$bring-red: #DD5D55;
$bring-turkey: #22ccb8;
$bring-light-turkey: #85f2e5;

$myorange: #ffa602;
$green: #66bf39;
$red: #eb670f;
$light-red: #f35;
$blue: #45a3e5;
$light-blue: #3cc;
$purple: #864cbf;
$mid-grey: #cccccc;
$light-grey: #F8F8F8;
$dark-blue: #4991EF;
$pink: #E40A5D;
