<template>
  <div class="fullscreen" id="app">
    <header>
      <div v-if="this.$root.$data.userId && this.$router.currentRoute.path !== '/lists'" class="flex-container" @click="showLists()">
        <span class="hamburger"></span>
      </div>
      <div v-if="this.$root.$data.userId && this.$router.currentRoute.path === '/lists'" class="flex-container" @click="showLists()">
        <span class="hamburger hidden"></span>
      </div>
      <span v-if="this.$router.currentRoute.path === '/lists'">Lists</span>
      <span v-else-if="this.$router.currentRoute.path === '/list-detail'">Members</span>
      <span v-else>Bunch</span>
      <div>
        <span v-if="userId" @click="logout()">Logout</span>
      </div>
    </header>

    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
  /* eslint-disable indent */

  import ItemsContainer from './components/ItemsContainer'
  import {GC_AUTH_TOKEN, GC_USER_ID, SELECTED_LIST_ID} from './graphql/graphql'
  export default {
    name: 'app',
    components: {
      ItemsContainer
    },
    computed: {
      userId () {
        return this.$root.$data.userId
      }
    },
    methods: {
      logout () {
        localStorage.removeItem(GC_USER_ID)
        localStorage.removeItem(GC_AUTH_TOKEN)
        localStorage.removeItem(SELECTED_LIST_ID)
        this.$root.$data.userId = localStorage.getItem(GC_USER_ID)
        this.$root.$data.selectedList = localStorage.getItem(SELECTED_LIST_ID)
        this.$router.push({path: '/login'})
      },
      showLists () {
        this.$router.push({path: '/lists'})
      }
    },
    created () {
      console.log('appcreated', this.$root.$data.userId === null)
      if (this.$root.$data.userId === null) {
        this.$router.push({path: '/login'})
      }
    },
    beforeMount () {
      console.log('beforemount')
    }
  }
</script>

<style lang="scss">

  @import "./assets/variables.scss";

  html {
    width: 100%;
    height: 100%;
  }
  body {
    margin: 0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $bring-medium-blue-grey;
  }
  main {
    text-align: center;
  }
  header {
    margin: 0;
    height: 56px;
    padding: 0 24px 0 24px;
    background-color: $bring-medium-blue-grey;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  header span {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 16px;
  }

  header a {
    color: white;
  }

  header a:hover {
    color: white;
  }

  // --------
  .hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.1em solid #fff;
    border-bottom: 0.1em solid #fff;
  }

  .hidden {
    visibility: hidden;
  }

  .hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.1em solid #fff;
  }
</style>
