<template>

</template>

<script>
  import Vue from './router'

Vue.component('MusterComponent', {
    components: { // Components that can be used in the template
      // ProductComponent, ReviewComponent
    },
    props: { // parameters the component accepts
      message: String,
      product: Object,
      email: {
        type: String,
        required: true,
        default: 'none',
        validator: function (value) {
        // should return true if value is valid
        }
      }
    },
    data () { // must be a function --> instead of data() also possible -->  data: function () { }
      return {
        firstName: 'Vue',
        lastName: 'Mastery'
      }
    },
    computed: { // Return cached values until dependencies change
      fullName: function () {
        return this.firstName + ' ' + this.lastName
      }
    },
    watch: { // Called when firstName changes value
      firstName: function (value, oldValue) {

      }
    },
    methods: {
      login () {
        console.log(this.email)
        console.log(this.password)
      }
    }
    // template: '<span>{{ message }}</span>' // Can also use backticks for multi-line
  })
</script>

<style scoped>

</style>
